chatapp/nodechat-translation
[{"id":"2289d558.17eb12","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"584485d.c99c3fc","type":"websocket in","z":"ff9afa3d.b7b02","name":"","server":"2289d558.17eb12","x":802,"y":183,"wires":[["14d9f7d5.931","8ffcf3a1.ed98a"]]},{"id":"14d9f7d5.931","type":"function","z":"ff9afa3d.b7b02","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":976,"y":183,"wires":[["a4c285c3.1f0c4"]]},{"id":"dbcb417e.ea2728","type":"websocket out","z":"ff9afa3d.b7b02","name":"","server":"2289d558.17eb12","x":1328,"y":233,"wires":[]},{"id":"602661a8.916bc8","type":"http in","z":"ff9afa3d.b7b02","name":"","url":"/chat","method":"get","x":815,"y":322,"wires":[["d1c0ca0f.c68778"]]},{"id":"d1c0ca0f.c68778","type":"template","z":"ff9afa3d.b7b02","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n <title>Chat</title>\n</head>\n\n<body>\n <div id=\"wrapper\">\n <div id=\"chat_box\" class=\"content\"></div>\n\n <div id=\"footer\">\n <div class=\"content\">\n <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n </div>\n </div>\n </div>\n</body>\n\n<script type=\"text/javascript\">\n var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n var ws = new WebSocket(wsUri);\n\n function createSystemMessage(message) {\n var message = document.createTextNode(message);\n\n var messageBox = document.createElement('p');\n messageBox.className = 'system';\n\n messageBox.appendChild(message);\n\n var chat = document.getElementById('chat_box');\n chat.appendChild(messageBox);\n }\n\n function createUserMessage(user, message) {\n var user = document.createTextNode(user + ': ');\n\n var userBox = document.createElement('span');\n userBox.className = 'username';\n userBox.appendChild(user);\n\n var message = document.createTextNode(message);\n\n var messageBox = document.createElement('p');\n messageBox.appendChild(userBox);\n messageBox.appendChild(message);\n\n var chat = document.getElementById('chat_box');\n chat.appendChild(messageBox);\n }\n\n ws.onopen = function(ev) {\n createSystemMessage('[Connected]');\n };\n\n ws.onclose = function(ev) {\n createSystemMessage('[Disconnected]');\n }\n\n ws.onmessage = function(ev) {\n var payload = JSON.parse(ev.data);\n createUserMessage(payload.user, payload.message);\n\n var chat = document.getElementById('chat_box');\n chat.scrollTop = chat.scrollHeight;\n }\n\n function sendMessage() {\n var user = document.getElementById('user');\n var message = document.getElementById('message');\n\n var payload = {\n message: message.value,\n user: user.value,\n ts: (new Date()).getTime()\n };\n\n ws.send(JSON.stringify(payload));\n message.value = \"\";\n };\n</script>\n\n<style type=\"text/css\">\n * {\n font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n font-style: italic;\n font-size: 24px;\n }\n\n html, body, #wrapper {\n margin: 0;\n padding: 0;\n height: 100%;\n }\n\n #wrapper {\n background-color: #ecf0f1;\n }\n\n #chat_box {\n box-sizing: border-box;\n height: 100%;\n overflow: auto;\n padding-bottom: 50px;\n }\n\n #footer {\n box-sizing: border-box;\n position: fixed;\n bottom: 0;\n height: 50px;\n width: 100%;\n background-color: #2980b9;\n }\n\n #footer .content {\n padding-top: 4px;\n position: relative;\n }\n\n #user { width: 20%; }\n #message { width: 68%; }\n #send_btn {\n width: 10%;\n position: absolute;\n right: 0;\n bottom: 0;\n margin: 0;\n }\n\n .content {\n width: 70%;\n margin: 0 auto;\n }\n\n input[type=\"text\"],\n input[type=\"button\"] {\n border: 0;\n color: #fff;\n }\n\n input[type=\"text\"] {\n background-color: #146EA8;\n padding: 3px 10px;\n }\n\n input[type=\"button\"] {\n background-color: #f39c12;\n border-right: 2px solid #e67e22;\n border-bottom: 2px solid #e67e22;\n min-width: 70px;\n display: inline-block;\n }\n\n input[type=\"button\"]:hover {\n background-color: #e67e22;\n border-right: 2px solid #f39c12;\n border-bottom: 2px solid #f39c12;\n cursor: pointer;\n }\n\n .system,\n .username {\n color: #aaa;\n font-style: italic;\n font-family: monospace;\n font-size: 16px;\n }\n\n @media(max-width: 1000px) {\n .content { width: 90%; }\n }\n\n @media(max-width: 780px) {\n #footer { height: 91px; }\n #chat_box { padding-bottom: 91px; }\n\n #user { width: 100%; }\n #message { width: 80%; }\n }\n\n @media(max-width: 400px) {\n #footer { height: 135px; }\n #chat_box { padding-bottom: 135px; }\n\n #message { width: 100%; }\n #send_btn {\n position: relative;\n margin-top: 3px;\n width: 100%;\n }\n }\n</style>\n","x":981,"y":322,"wires":[["aa087e96.43feb8"]]},{"id":"aa087e96.43feb8","type":"http response","z":"ff9afa3d.b7b02","name":"","x":1124,"y":322,"wires":[]},{"id":"8ffcf3a1.ed98a","type":"debug","z":"ff9afa3d.b7b02","name":"","active":true,"console":"false","complete":"false","x":971.5,"y":60,"wires":[]},{"id":"5e7a11de.938e2","type":"debug","z":"ff9afa3d.b7b02","name":"","active":true,"console":"false","complete":"false","x":1313.5,"y":81,"wires":[]},{"id":"a4c285c3.1f0c4","type":"watson-translate","z":"ff9afa3d.b7b02","name":"EN-Fr","srclang":"en","destlang":"fr","domain":"conversational","x":1157.5,"y":231,"wires":[["dbcb417e.ea2728","5e7a11de.938e2"]]}]
